mixin article(article)
  include meta
  .meta
    +meta(article)
  .extra
    +extra('tags', article.tags)
  .extra
    +extra('categories', article.categories)
  .article-content
    if article.photos
      .gallery
        for photo in article.photos
          a.gallery-img(href=url_for(photo))
            img(src=url_for(photo))
    != article.content
  #comments
  nav.pagination
    include title
    if article.prev
      a#left-navigator(href=url_for(article.prev.path))
        +title(article.prev)
    if (theme.duoshuo && article.comments)
      a.comments-switch(href="javascript:void(0);", key=article.path, url=article.permalink, duoshuo=theme.duoshuo)
        = __('comments')
    if (config.disqus_shortname && article.comments)
      include disqus
      +disqus
    if article.next
      a#right-navigator(href=url_for(article.next.path))
        +title(article.next)
